nav.navbar-default {
    background-color: $gw-red;
    .navbar-brand {
        color: $gw-text-clr;
    }
    .navbar-nav {
        li {
            a {
                color: $gw-text-clr;
            }
        }
        .dropdown {
            ul.dropdown-menu {
                li {
                    a {
                        color: black;
                    }
                }
            }
        }
    }
}